.settings-page {
    height: 80%;
    justify-content: flex-start;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.settings-page .title {
    font-size: 3em;
}

.settings {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.6em;
    margin-top: 3em;
}

.settings .setting-item {
    display: flex;
    flex-flow: row nowrap;
    margin: 1em;
}

.setting-item .name {
    margin-right: 2em;
    width: 6em;
}

.setting-item .select-group {
    display: flex;
    flex-flow: row nowrap;
}

.setting-item .select-item {
    opacity: .6;
    margin: 0 1em;
    transition: all .3s;
    cursor: pointer;
}

.setting-item .select-item.selected {
    opacity: 1;
}

.settings-page .actions {
    margin-top: 2em;
    font-size: 1.6em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.settings-page .button {
    padding: .5em .5em;
}

@media screen and (max-width: 800px) {
    .settings .setting-item {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 600px) {
    .settings {
        font-size: 1.2em;
    }

    .settings-page .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 450px) {
    .settings {
        font-size: 1em;
    }
}