body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    color: #eee;
    font-family: 'Open Sans', Roboto, Segoe UI, Microsoft YaHei UI, Tahoma, Geneva, Verdana, sans-serif;
}

* {
    outline: none;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas {
    height: 100%;
    width: 100%;
}

input {
    font-size: 1em;
}

.page {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    transition: all 1s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    padding: .5em 2em;
    margin: .5em;
    text-align: center;
    user-select: none;
    cursor: pointer;
    opacity: 0.6;
    transition: all .3s;
}

.button:hover {
    opacity: 1;
}

.button::before {
    font-size: 1em;
    content: ">";
    margin-right: .5em;
    opacity: 0;
    transition: all .3s;
}

.button::after {
    font-size: 1em;
    content: "<";
    margin-left: .5em;
    opacity: 0;
    transition: all .3s;
}

.button:hover::before {
    opacity: 1;
}

.button:hover::after {
    opacity: 1;
}

.main-menu {
    font-size: 1.6em;
    transition: opacity 1s;
}

.page.active {
    opacity: 1;
}

.page.inactive {
    opacity: 0;
    pointer-events: none;
}

.page.inactive * {
    cursor: default;
}

.game-over {
    width: 80%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.game-over .title {
    font-size: 3em;
    margin-bottom: .5em;
    text-align: center;
    user-select: none;
}

.game-over .score {
    font-size: 1.6em;
    text-align: center;
    user-select: none;
}

.game-over .score .value {
    margin-left: 1em;
}

.game-over .submit {
    margin-top: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.game-over .input-name {
    background-color: transparent;
    font-size: 1.2em;
    color: #eee;
    border: solid 2px rgba(255, 255, 255, 0.3);
    padding: .3em 1em;
    display: flex;
    width: 100%;
    transition: all .3s;
}

.game-over .input-name:hover {
    border: solid 2px rgba(255, 255, 255, 0.6);
}

.game-over .input-name:focus {
    border: solid 2px rgba(255, 255, 255, 0.8);
}

.game-over .actions {
    margin-top: 2em;
    font-size: 1.6em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.game-over .button {
    padding: .5em .5em;
}